#formA label, #formA input:not(input[type="radio"],#formA textarea) {
   width: 100%;
}

#formA {
    display: grid;
    grid-template-columns: 35% 60%;
    gap: 10px;
    padding: 20px;
}

.full-width {
    grid-column: span 2;
}


#formA textarea {
    resize: none;
}

#formProduit label, input{
    width: 100%;
}

#formProduit {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 10px;
    padding: 20px;
}

#panierGrid {
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 10px;
    padding: 20px;
}
